
main {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.section {  
    width: 50vw;
}

app-numpad {
    flex-basis: 50%;
}

app-equation{
    flex-basis: 20%; 
}

@media screen and (max-width: 600px) {
    .section {  
        width: 75vw;
    }
}