@use '../theme.scss' as theme;
@use '@angular/material' as mat;


.main-container {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr 1fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-section {
  height: 100%;
  width: 100%;
}

app-header {
  grid-area: 1 / 1 / 2 / 2;
}

app-game {
  background: theme.$bg-color;
  grid-area: 2 / 1 / 3 / 2;
}
footer {
  background: mat.get-color-from-palette(theme.$math-game-primary, 200);
  grid-area: 3 / 1 / 4 / 2;
} 

