.main-container {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  grid-template-rows: 1fr 9fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-section {
  height: 100%;
  width: 100%;
}

app-header {
  color: var(--accent);
}

app-game {
  background: var(--bg-color);
}

