.main-container {
  display: grid;
  height: 100%;
  width: 100%;
  place-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 12fr;
  grid-column-gap: 0px;
  grid-row-gap: 0px;
}

.grid-section {
  height: 100%;
  width: 100%;
}

app-header {
  color: var(--accent);
  grid-area: 1 / 1 / 2 / 2;
}

app-game {
  background: var(--bg-color);
  grid-area: 2 / 1 / 3 / 2;
}

