
@use '@angular/material' as mat;
@include mat.core();

$math-game-primary: mat.define-palette(mat.$pink-palette);
$math-game-accent: mat.define-palette(mat.$blue-gray-palette);
$math-game-warn: mat.define-palette(mat.$red-palette);
$math-game-theme: mat.define-light-theme((
  color: (
    primary: $math-game-primary,
    accent: $math-game-accent,
    warn: $math-game-warn,
  )
));
@include mat.all-component-themes($math-game-theme);
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
